
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.nupkg
packages/combres.2.2.2.0/content
packages/combres.2.2.2.0/lib/net35
packages/combres.mvc.2.2.2.0/content
packages/combres.mvc.2.2.2.0/lib/net35/
packages/combres.mvc.2.2.2.0/lib/net40/Combres.Mvc.XML
packages/combres.2.2.2.0/lib/net40/Combres.xml
packages/dotless.1.2.1.0/acknowledgements.txt
packages/dotless.1.2.1.0/content
packages/dotless.1.2.1.0/license.txt
packages/fasterflect.2.0.1/lib/net35
packages/fasterflect.2.0.1/lib/net40/Fasterflect.XML
packages/jQuery.1.6.4
packages/knockoutjs.1.2.9.0
packages/log4net.1.2.10/lib/1.0
packages/log4net.1.2.10/lib/1.1
packages/log4net.1.2.10/lib/2.0/log4net.xml
packages/Modernizr.1.7
packages/repositories.config
packages/YUICompressor.NET.1.5.0.0/lib/NET20
Twitches/log.txt
Twitches/log.*