@using Combres.Mvc
@{ Layout = "";}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Twitch.es</title>
    <link rel="stylesheet" href="@Html.CombresUrl("siteCss")" />
</head>
<body data-bind="visible: loaded" style="display: none;">
    <header class="whiteBox">
        <div class="contentBox">
            <a href="/">Twitch.es</a>
        </div>
    </header>
    <section>
        <article class="whiteBox">
            <div class="contentBox">
				<p data-bind="visible: firstTime">Just playing around with KnockoutJS, type a term in the search box and hit search.</p>
				<ul data-bind="template: { name : 'tweetTemplate', foreach: tweets }"></ul>
            </div>
        </article>
        <aside class="whiteBox">
            <div class="contentBox">
                <input type="text" placeholder="search..." data-bind="value: searchTerm" /><br />
                <button data-bind="click: search">Search</button>
            </div>
        </aside>
		<div class="ui-helper-clearfix"></div>
    </section>
    <script type="text/x-jquery-tmpl" id="tweetTemplate">
        <li class="tweet">
			<img src="${profile_image_url}" alt="${from_user}" />
			<p class="content">
				${from_user}: ${text}<br />
			</p>
			<p class="datetime">${created_at}</p>
			<div class="ui-helper-clearfix"></div>
        </li>
    </script>
    @Html.CombresLink("siteJs")
</body>
</html>